
 .list-container {
  max-width: 100%;
  margin: 20px auto;
} 

.list-item {
  display: flex;
  background-color: transparent;
  padding: 20px;
  margin-bottom: 20px;
  border-top: 0.03px solid #696868;
  border-bottom: 0.03px solid #555555;
  color: #fff;
  box-shadow: none;
  height: auto;

}


.likes-views {
  flex: 0 0 auto; 
  margin-right: 10px;
  justify-content: start;
}

.likes-views p {
  margin: 10px;
  color: #929292;
}
.link-language a {
  margin: 0;
  flex-wrap: wrap;
  color:rgb(0, 180, 240);
  font-size: 20px;
  text-decoration: none;
}

.link-language {
  flex: 1; 
  margin: 0 10px; 
}

.answers-username {
  flex: 0 0 auto; 
  margin-left: auto; 
  
}
.answers-username a{
  margin: 0;
  color:rgb(10, 150, 197);
  font-size: 15px;
  text-decoration: none;
  
}
.answers-username p{
  margin-top: 10px;
  color: #3b3b3b;
}
@media screen and (max-width:768px) {
  .list-container {
    max-width: 100%;
    margin: 20px auto;
  } 
  .list-item {
    max-width: 100%;
    display: block;
    background-color: transparent;
    padding: 20px;
    margin-bottom: 20px;
    border-top: 0.3px solid #696868;
    border-bottom: 0.3px solid #555555;
    color: #fff;
    box-shadow: none;
    height: auto;
  
  }
}