body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #16293b;
  padding: 20px;
  color: #fff;
  justify-content: center; 
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  color: red;
}

.login-form {
  max-width: 400px;
  margin:10% auto;
  background-color:#0c2642;
  padding: 80px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(16, 66, 133, 0.7);
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  box-sizing: border-box;
}

.btn-login {
  display: block;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
 @media screen and(max-width: 768px) {
  .login-form {
    max-width: 90%;
    margin:10% auto;
    background-color:#0c2642;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(16, 66, 133, 0.7);
  }
  
  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
  }a
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    box-sizing: border-box;
  }
  
  .btn-login {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
 }
