body {
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  overflow-x: hidden; 
  background-color: #16293b;
  color: #f0f0f0;
  
}
.user-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: inline-block;
}

/* Styles for user profile image */
.user-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

/* Styles for user name and email */
.user-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-email {
  color: #666;
}
